<?xml version="1.0" encoding="utf-8"?>
<config>
    <section name="general" title="General settings">
        <value type="checkbox" name="debug" label="Debug" default="false">
            Enable debug output
        </value>
        <value type="select" name="language" label="Language" default="en">
            <option value="en">English</option>
            <option value="de">German</option>
        </value>
        <value type="action" name="installTest" label="Install test">Test plugin installation</value>
        <value type="action" name="openPluginDir" label="Plugin directory">Open plugin directory</value>
    </section>
</config>