<nav class="navbar navbar-main-menu navbar-expand-lg navbar-dark bg-dark border-bottom border-secondary">
    <a href="#" class="navbar-brand">
        <img class="navbar-brand-icon img-fluid" src="../data/logo64.png">
        Gaming-Buddy
    </a>
    <ul class="navbar-nav plugin-pages-nav" data-template="core::elements/plugin-pages.twig">
        {% include "core::elements/plugin-pages.twig" %}
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item{% if gui.page=="core::plugins" %} active{% endif %}">
            <a href="#core::plugins" data-page-link="core::plugins" class="nav-link">
                <i class="fa fa-plug"></i>
                Plugins
            </a>
        </li>
        {% if gui.getConfigValue("debug") %}
        <li class="nav-item{% if gui.page=="core::debug" %} active{% endif %}">
            <a href="#core::debug" data-page-link="core::debug" class="nav-link">
                <i class="fa fa-bug"></i>
                Debug
            </a>
        </li>
        {% endif %}
        <li class="nav-item{% if gui.page=="core::config" %} active{% endif %}">
            <a href="#core::config" data-page-link="core::config" class="nav-link">
                <i class="fa fa-cog"></i>
                Config
            </a>
        </li>
        <li class="nav-item">
            <a href="#core::quit" data-action="core::quit" class="nav-link">
                <i class="fa fa-times-circle"></i>
            </a>
        </li>
    </ul>
</nav>


<script>
$(function() {

    // Executed every time some element is rendered
    let elementBinding = (element) => {
        $(element).find("[data-page-link]").on("click", function() {
            gui.setPage($(this).attr("data-page-link"), true);
        });
        $(element).find("[data-action=\"core::quit\"]").on("click", function() {
            gui.quit();
        });
    };

    // Apply to elements rendered async
    gui.on("element.rendered", elementBinding);
    // Initial call
    elementBinding($(".page"));

});
</script>
